/* Write your CSS here */
.projects-container {
  padding: 10px;
  background-color: white;
}
.title-container {
  display: flex;
  justify-content: space-between;
}
.image {
  width: 100%;
}
.projectTitle {
  color: #171f46;
  font-size: 20px;
  font-weight: bold;
}
.icon-container {
  display: flex;
  align-items: center;
}
.calender {
  height: 15px;
  width: 15px;
  color: #171f46;
}
.days {
  color: #171f46;
  font-size: 15px;
}
.paraa {
  color: #1e293b;
  font-size: 18px;
}
.anchor {
  font-size: 18px;
  color: #0967d2;
}
